body {
  background-color: #ffd6c2;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  border-radius: 50%
}

h1 {
  color: #480032;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h3 {
  color: #df0054;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
